<footer class="footer bg-dark py-5">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="display-5 text-uppercase text-light mb-0">
                    <strong>Ng-News</strong>
                </h1>
                <div class="title-underline bg-primary">
                </div>
                <p class="text-white lead font-italic my-2">Web App built with Angular 8, Bootstrap and Gaurdian API</p>
            </div>
        </div>
    </div>
</footer>